
<div ng-controller="filmController as fctrl">



<div class="card login-card">


<div class="login-container">




<div class="login-form">




  <form name="loginForm"  ng-submit="fctrl.submit()" class="form-horizontal" role="form" style="border: 0px solid #73AD21;">


    <div class="form-group">
        <label>Films Available</label>
        <select required class="form-control" ng-model="fctrl.film.selectedFilmId" ng-options="film.Id as film.film_name for film in fctrl.FILM_List" ng-click="console.log(fctrl.film.selectedFilmId);">
            <option value="">-- No Selection --</option>
        </select>
    </div>

    <div class="form-group" style="margin: auto; width: 100%; border: 0px solid #53AD21; padding: 0px;">
        <span ng-show="fctrl.film.selectedFilmId" style="float:left; width:100%; margin:0 0%;">
            Now Playing At:

            <iframe
                width="100%"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA5Lw5VNLbj1TMCxXBgM-EBEuGJM_6HpBo&q=31.45004,74.30029" allowfullscreen>
              </iframe>

        </span>
    </div>

    <hr>

    <div class="form-group">
        <label>Add New Film</label>
        <input type="checkbox" ng-click="fctrl.blnAddNewFilm=!fctrl.blnAddNewFilm">
    </div>

        {{fctrl.blnAddNewFilm}}

    <span ng-show="fctrl.blnAddNewFilm">
        <div class="form-group">
            <label>Film Title</label>
            <input type="text" class="form-control" ng-model="fctrl.film.title" required>
        </div>

        <div class="form-group">
            <label>Release Year</label>
            <input type="text" class="form-control" ng-model="fctrl.film.year" required>
        </div>

        <div class="form-group">
            <label>Director</label>
            <input type="text" class="form-control" ng-model="fctrl.film.director" required>
        </div>

        <div class="form-group">
            <label>Cast</label>
            <input type="text" class="form-control" ng-model="fctrl.film.cast" required>
        </div>

        <div class="form-group">
            <label>Genre</label>
            <input type="text" class="form-control" ng-model="fctrl.film.genre" required>
        </div>

        <div class="form-group">
            <label>Submit</label>
            <input type="submit" value="Submit" class="form-control" ng-disabled="loginForm.$invalid">
        </div>
      </span>




</form>
</div>

</div>
</div>
</div>
