
<div ng-controller="movieController as fctrl">



<!--<div class="card login-card"> -->


<div class="login-container">


<div class="login-form">

  <form name="loginForm" ng-submit="fctrl.submit()" class="form-horizontal" role="form" style="border: 0px solid #73AD21;">


    <div class="form-group">
        <label>Movies and Movie Theaters</label>
        <select required class="form-control" ng-model="fctrl.movie.selectedMovieId" ng-options="movie.Id as movie.movie_name for movie in fctrl.MOVIE_List" ng-click="console.log(fctrl.movie.selectedMovieId);">
            <!--<option value="">-- No Selection --</option>-->
        </select>
    </div>

    <div class="form-group" style="margin: auto; width: 100%; border: 0px solid #53AD21; padding: 0px;">



        <span ng-show="fctrl.movie.selectedMovieId" style="float:left; width:100%; margin:0 0%;">
            Now Playing At: {{fctrl.MOVIE_List[fctrl.movie.selectedMovieId].cinema_name}}

            <iframe

                id="cinema_map"
                width="100%"
                height="450"
                frameborder="1" style="border:0"
                ng-src="{{fctrl.MOVIE_List[fctrl.movie.selectedMovieId].cinema_gps}}" allowfullscreen
            >
              </iframe>

        </span>
    </div>
</form>
</div>

</div>
<!--</div> -->
</div>
